.add{

    letter-spacing: 3px;
    font-size: 20px;
    margin-top: 2cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font:x-large;
    font-weight: bold;
    color:black;
    text-align:justify;
    text-decoration:navy;
    margin-top: 10px;
    
    }